<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weekly Meal Planner - Add Book</title>
  </head>
  <body>
    <h2>Add new book to database</h2>
    <a href="/">Return to home page</a>
    <form class="" action="/add-book-entry" method="post">
      <label for="">Book Name:</label>
      <input type="text" name="name" value="">
      <br>
      <label for="">Author:</label>
      <input type="text" name="author" value="">
      <br>
      <label for="">Alias:</label>
      <input type="text" name="alias" value="">
      <br>
      <button type="submit" name="button">Submit</button>
    </form>

  </body>
</html>
