.title-div{
  text-align: center;
  margin-top:1rem;
  margin-bottom:1rem;
}

.date-input{
  width: 8.5rem;
}

.meal-input{
  width:4rem;
}

.page-input{
  width:3.5rem;
}

.quality-input{
  width:6rem;
}

.time-input{
  width:6rem;
}

.effort-input{
  width:7rem;
}

.add-btn{
  margin-left:3rem;
}

.footer{
  margin: 2rem 0rem;
  text-align: center;
}

/* Book Page */
.book-header, .book-form{
  text-align:center;
}

.book-header{
  margin:2rem 0rem;
}

.book-table{
  width:60%;
  margin:auto;
  margin-top:2rem;
}

.form-item{
  margin-bottom:0.5rem;
}
